<table class="concepts">
    <tbody>
    {{#each-in block.data.details as |conceptPrefLabel data|}}
        <tr class="concept-block">
            <td>
                <span class="concept">
                    <strong>
                        <a href="{{data.concept.uri}}">{{data.concept.prefLabel}}</a>
                    </strong>
                    <i class="btb bt-external-link"></i>
                </span>
                <div class="definition">
                    {{data.definition}}
                </div>
                {{#if (gt data.broaderConcepts.length 0)}}
                <div class="concept-details">
                    <h1>Broader Concepts</h1>
                    <ul>
                        {{#each data.broaderConcepts as |broaderConcept|}}
                            <li>
                                <strong>
                                    <a href="{{broaderConcept.uri}}">{{broaderConcept.prefLabel}}</a>
                                </strong>
                                <i class="btb bt-external-link"></i>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if (gt data.narrowerConcepts.length 0)}}
                <div class="concept-details">
                    <h1>Narrower Concepts</h1>
                    <ul>
                        {{#each data.narrowerConcepts as |narrowerConcept|}}
                            <li>
                                <strong>
                                    <a href="{{narrowerConcept.uri}}">{{narrowerConcept.prefLabel}}</a>
                                </strong>
                                <i class="btb bt-external-link"></i>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{#if (gt data.relatedConcepts.length 0)}}
                    <div class="concept-details">
                        <h1>Related Concepts</h1>
                        <ul>
                            {{#each data.relatedConcepts as |relatedConcept|}}
                                <li>
                                    <strong>
                                        <a href="{{relatedConcept.uri}}">{{relatedConcept.prefLabel}}</a>
                                    </strong>
                                    <i class="btb bt-external-link"></i>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </td>
        </tr>
    {{/each-in}}
    </tbody>
</table>
